@import "../common/styles/sass/mixins";

.header {
  @include withFlex(flex-end, center);
  height: 50px;
  background-color: rgba(33, 36, 40, .871);
  flex-wrap: nowrap;
  position: fixed;
  z-index: 9999;
  opacity: 0.9;
  left: 0;
  right: 0;
  backdrop-filter: blur(15px);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;;
}