
.title{
    font-size: 72px;
    line-height: 1.2em;
    font-weight: 700;
    margin:0;
    color: #fff;
    position: relative;
}
.title::before{
    position: absolute;
    content: "";
    width: 150px;
    height: 2px;
    background: #ff014f;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%,50%);

}
@media screen and (max-width: 630px) {
    .title{
        font-size: 40px;
        font-weight: 600;
    }
}