.footerBlock{
    background-color: #d5defc;
    padding: 50px 0;
}
.footerContainer{
    align-items:center;
    flex-direction: column;
    justify-content:space-between;
    height: 150px;

}
.title{
    background-color: #d2d0d0;
}
.iconsContainer{
    width: 280px;
    border: 1px solid;
    display:flex;
    justify-content: space-between;
}
.rightsFooter{
    background-color: #989898;
}