.projectsBlock{
    min-height: 100vh;
    background-color: #18191d;
    padding: 50px 0;
}
.projectsContainer{
    align-items:center;
    flex-direction: column;
    justify-content: flex-start;
}

.projects{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;

}
@media screen and (max-width: 1504px) {
    .projects{
        justify-content: center;
    }
}